<!doctype html>
<html>
<head>

	<meta charset="utf-8">

	<title>USER TRACK</title>
	<link rel="stylesheet" href="/css/style.css">

</head>
<body> 

<div class="title">USER TRACK</div>
<div class="content">
	<div class="header">
		<h3><%= k[id].username %></h3>
		<div class="date">10 novembre 2014</div>
	</div>
	<div class="contentOfArticle">
		<%= k[id].bigArticle %>
	</div>

	<div class="footer">

		<button id="like" onclick="like()" class="button">Like</button>
		<button id="comment" onclick="comment()" class="button">Comment</button>
		<button id="share" onclick="share()" class="button">Share</button>

	</div>
</div>
</body>
<script type="text/javascript" src="http://cdn.pubnub.com/pubnub.min.js"></script>
<script type="text/javascript" src="../usertrack.js"></script>
<script>
	Usertrack.init("1234","1234-1234-1234-1234");
	Usertrack.track({identity:"jamel",age:"21",email:"jamel@gmail.com"});
	Usertrack.send("load","detailsPage");
	function like(){
		Usertrack.send("click","like");
		document.getElementById("like").style="background-color:#30393A;color:white;padding:5px 17px;border:none;cursor:pointer;";
		document.getElementById("like").innerHTML=document.getElementById("like").innerHTML+"d";
		document.getElementById("like").setAttribute('onclick','liked()');
	}
	function liked(){
		Usertrack.send("click","dislike");
		document.getElementById("like").style="background-color:#44c767;color:black;padding:5px 17px;border:none;cursor:pointer;";
		document.getElementById("like").innerHTML="Like";
		document.getElementById("like").setAttribute('onclick','like()');
	}
	function comment(){
		Usertrack.send("click","comment");
		document.getElementById("comment").style="background-color:#30393A;color:white;padding:5px 17px;border:none;cursor:pointer;";
		document.getElementById("comment").innerHTML=document.getElementById("comment").innerHTML+"ed";
		document.getElementById("comment").setAttribute('onclick','comented()');
	}
	function comented(){
		Usertrack.send("click","comented");
		document.getElementById("comment").style="background-color:#44c767;color:black;padding:5px 17px;border:none;cursor:pointer;";
		document.getElementById("comment").innerHTML="Comment";
		document.getElementById("comment").setAttribute('onclick','comment()');
	}
	function share(){
		Usertrack.send("click","share");
		document.getElementById("share").style="background-color:#30393A;color:white;padding:5px 17px;border:none;cursor:pointer;";
		document.getElementById("share").innerHTML=document.getElementById("share").innerHTML+"d";
		document.getElementById("share").setAttribute('onclick','shared()');
	}
	function shared(){
		Usertrack.send("click","shared");
		document.getElementById("share").style="background-color:#44c767;color:black;padding:5px 17px;border:none;cursor:pointer;";
		document.getElementById("share").innerHTML="share";
		document.getElementById("share").setAttribute('onclick','share()');
	}
</script>	
</html>


