.title{
	text-align:center;
	font-size:50px;
}
.content{
	margin-left:526px;
	width:23%;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
.smallArticle{
	border-color: #DDD;
	color: #444;
	margin: -1px;
	padding: 5px;
	border-width: 1px;
	border-style: solid;
}
.link{
	text-decoration: none; 
	color:black;
}
.header{
	border-color: #DDD;
	color: #444;
	margin: -1px;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
}
.contentOfArticle{
	border-color: #DDD;
	color: #444;
	margin: -1px;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
}
.footer{
	border-color: #DDD;
	color: #444;
	margin: -1px;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
}
.button{
	background-color:#44c767;
	padding:5px 17px;
	border:none;
	cursor:pointer;
}
.date{
	margin-top: -10px;
}